-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."PowerTier" AS ENUM ('casual', 'mid', 'competitive', 'cedh');

-- CreateEnum
CREATE TYPE "public"."DeckVisibility" AS ENUM ('private', 'unlisted', 'public');

-- CreateEnum
CREATE TYPE "public"."DeckZone" AS ENUM ('mainboard', 'sideboard', 'maybeboard', 'commander');

-- CreateEnum
CREATE TYPE "public"."TagSource" AS ENUM ('editorial', 'inferred');

-- CreateEnum
CREATE TYPE "public"."PriceSource" AS ENUM ('scryfall', 'mtggoldfish');

-- CreateEnum
CREATE TYPE "public"."ImportSource" AS ENUM ('csv', 'mtg_arena_txt', 'text_list');

-- CreateEnum
CREATE TYPE "public"."ImportStatus" AS ENUM ('pending', 'processed', 'failed');

-- CreateEnum
CREATE TYPE "public"."RecommendationType" AS ENUM ('related_card', 'upgrade_suggestion', 'trending_pick');

-- CreateEnum
CREATE TYPE "public"."TrendingScope" AS ENUM ('card', 'deck');

-- CreateEnum
CREATE TYPE "public"."TrendingPeriod" AS ENUM ('daily', 'weekly');

-- CreateTable
CREATE TABLE "public"."users" (
    "id" UUID NOT NULL,
    "email" TEXT NOT NULL,
    "handle" TEXT NOT NULL,
    "avatar_url" TEXT,
    "marketing_opt_out" BOOLEAN NOT NULL DEFAULT false,
    "default_format" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."profiles" (
    "user_id" UUID NOT NULL,
    "display_name" TEXT,
    "bio" TEXT,
    "preferred_tags" TEXT[],
    "power_level_pref" TEXT,
    "shared_card_bazaar_id" TEXT,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "profiles_pkey" PRIMARY KEY ("user_id")
);

-- CreateTable
CREATE TABLE "public"."cards" (
    "id" UUID NOT NULL,
    "scryfall_id" TEXT NOT NULL,
    "oracle_id" TEXT,
    "name" TEXT NOT NULL,
    "set_code" TEXT NOT NULL,
    "rarity" TEXT NOT NULL,
    "mana_cost" TEXT,
    "cmc" DECIMAL(10,2),
    "color_identity" TEXT[],
    "type_line" TEXT NOT NULL,
    "oracle_text" TEXT,
    "image_uris" JSONB,
    "legality" JSONB,
    "is_token" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "cards_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."printings" (
    "id" UUID NOT NULL,
    "card_id" UUID NOT NULL,
    "set_code" TEXT NOT NULL,
    "collector_number" TEXT NOT NULL,
    "frame" TEXT,
    "promo_types" TEXT[],
    "finishes" TEXT[],
    "released_at" TIMESTAMP(3),
    "stock_status" TEXT,
    "card_bazaar_sku" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "printings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."prices" (
    "id" UUID NOT NULL,
    "printing_id" UUID NOT NULL,
    "source" "public"."PriceSource" NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'USD',
    "retail" DECIMAL(12,2),
    "buylist" DECIMAL(12,2),
    "foil_retail" DECIMAL(12,2),
    "foil_buylist" DECIMAL(12,2),
    "sampled_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "prices_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."card_tags" (
    "id" UUID NOT NULL,
    "card_id" UUID NOT NULL,
    "tag_slug" TEXT NOT NULL,
    "tag_label" TEXT NOT NULL,
    "tag_source" "public"."TagSource" NOT NULL,
    "assigned_by" UUID,
    "assigned_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "card_tags_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."decks" (
    "id" UUID NOT NULL,
    "user_id" UUID,
    "name" TEXT NOT NULL,
    "format" TEXT NOT NULL,
    "power_tier" "public"."PowerTier",
    "description" TEXT,
    "visibility" "public"."DeckVisibility" NOT NULL DEFAULT 'private',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "decks_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."deck_cards" (
    "deck_id" UUID NOT NULL,
    "printing_id" UUID NOT NULL,
    "quantity" INTEGER NOT NULL,
    "zone" "public"."DeckZone" NOT NULL,

    CONSTRAINT "deck_cards_pkey" PRIMARY KEY ("deck_id","printing_id","zone")
);

-- CreateTable
CREATE TABLE "public"."imports" (
    "id" UUID NOT NULL,
    "user_id" UUID,
    "source" "public"."ImportSource" NOT NULL,
    "raw_payload" TEXT,
    "normalized" JSONB,
    "status" "public"."ImportStatus" NOT NULL,
    "processed_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "imports_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."event_log" (
    "id" UUID NOT NULL,
    "user_id" UUID,
    "session_id" UUID,
    "event_type" TEXT NOT NULL,
    "subject_type" TEXT,
    "subject_id" UUID,
    "context" JSONB,
    "value_numeric" DECIMAL(12,2),
    "value_text" TEXT,
    "occurred_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "event_log_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."trending_snapshots" (
    "id" UUID NOT NULL,
    "scope" "public"."TrendingScope" NOT NULL,
    "subject_id" UUID NOT NULL,
    "period" "public"."TrendingPeriod" NOT NULL,
    "trend_score" DECIMAL(12,4) NOT NULL,
    "components" JSONB,
    "calculated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "trending_snapshots_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."recommendations" (
    "id" UUID NOT NULL,
    "user_id" UUID,
    "recommendation_type" "public"."RecommendationType" NOT NULL,
    "payload" JSONB NOT NULL,
    "generated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expires_at" TIMESTAMP(3),

    CONSTRAINT "recommendations_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "public"."users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "users_handle_key" ON "public"."users"("handle");

-- CreateIndex
CREATE UNIQUE INDEX "cards_scryfall_id_key" ON "public"."cards"("scryfall_id");

-- AddForeignKey
ALTER TABLE "public"."profiles" ADD CONSTRAINT "profiles_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."printings" ADD CONSTRAINT "printings_card_id_fkey" FOREIGN KEY ("card_id") REFERENCES "public"."cards"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."prices" ADD CONSTRAINT "prices_printing_id_fkey" FOREIGN KEY ("printing_id") REFERENCES "public"."printings"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."card_tags" ADD CONSTRAINT "card_tags_card_id_fkey" FOREIGN KEY ("card_id") REFERENCES "public"."cards"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."card_tags" ADD CONSTRAINT "card_tags_assigned_by_fkey" FOREIGN KEY ("assigned_by") REFERENCES "public"."users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."decks" ADD CONSTRAINT "decks_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."deck_cards" ADD CONSTRAINT "deck_cards_deck_id_fkey" FOREIGN KEY ("deck_id") REFERENCES "public"."decks"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."deck_cards" ADD CONSTRAINT "deck_cards_printing_id_fkey" FOREIGN KEY ("printing_id") REFERENCES "public"."printings"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."imports" ADD CONSTRAINT "imports_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."event_log" ADD CONSTRAINT "event_log_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."recommendations" ADD CONSTRAINT "recommendations_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

